#portfolio_section {
  // border: $b2;
}
#portfolio_section_holder {
  @extend .default-padding;
  text-align: center;
  margin-top: 4rem;
}

#portfolio_flex {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

#portfolio-items {
  // border: 2px solid red;
  width: 100%;
  height: auto;
}

.w_holder {
  // border: 2px solid black;
  height: auto;
}

#work {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.caption {
  position: relative;
  bottom: 60px;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
}
