#portfolio_section_holder {
  @extend .default-padding;
  text-align: center;
  margin-top: 4rem;
}

#portfolio_flex {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

#portfolio-items {
  // border: 2px solid red;
  width: 100%;
  height: auto;
}

.w_holder {
  background-color: black;
  width: 100%;
  height: 100%;
  // border: 2px solid blue;
}

#work {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: relative;
  bottom: 75px;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
}

.fa-long-arrow-right {
  position: relative;
  color: red;
  font-size: 2.3rem;
  left: -4rem;
  bottom: 95px;
  color: white;
  z-index: 7;
  visibility: hidden;
}
